In [1]:
from project.survey import SurveyReader
from project.constants import DATA_DIR, STUDY_YEARS

survey = SurveyReader(DATA_DIR, include_years=STUDY_YEARS)
survey.read_files()

# Home characteristics
q_names_02 = [
    "P208A", # Age
]

In [2]:
age = survey.data_columns("02", q_names_02)
# age = age.rename(columns={"P208A": "EDAD"})

In [3]:
age[age["PERSON_KEY"] == "2020010050090411101"]

Empty DataFrame
Columns: [Aﾃ前, MES, UBIGEO, CONGLOME, VIVIENDA, HOGAR, DOMINIO, ESTRATO, CODPERSO, P208A, HOUSE_KEY, PERSON_KEY, PERIODO, RURAL]
Index: []

In [4]:
unique_person = len(age["PERSON_KEY"].unique())
unique_house = len(age["HOUSE_KEY"].unique())
print(unique_house, unique_person)

33886 119747

In [5]:
len(age[age["P208A"] >=14])

89446

In [6]:
age[age["PERSON_KEY"] == "2023020169720231105"]

,Aﾃ前,MES,UBIGEO,CONGLOME,VIVIENDA,HOGAR,DOMINIO,ESTRATO,CODPERSO,P208A,HOUSE_KEY,PERSON_KEY,PERIODO,RURAL
50372,2023,02,110503,016972,023,11,2.0,5.0,05,23.0,20230201697202311,2023020169720231105,202302,False

In [15]:
survey._files["2023"]["34"].filename

'Sumaria-2023-12g.sav'